.intro-background {
  display: flex;
  flex-direction: row;
}

.screen-background{
  color: black;
}

.intro-item {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.intro-item h1,
h2,
ul,
li {
  margin: 4px 0;
}

.intro-item p {
  margin: 8px 0;

}

.typed-text {
  font-size: 25px;
}

.intro-picture {
  width: 90%;
  height: 100%;
  border: 5px solid #3EB489;
  
}

.highlight-background-1 {
  background: #3EB489;
}